html {
	height: 950px;
    background-color: #a6aaad;
}

body
{
	font-family: Times New Roman;
	font-weight: normal;
	height: 700px;
	color: #ffffff;
}

#Banner {
    height: 175px;
    width: 900px;
    background-color: #000000;
}

img#BannerImg{
    display:block;
    margin-left:auto;
    margin-right:auto;
}

#Main {
    height: 1175px;
    width: 900px;
    margin: auto;
    background-color: #a6aaad;
}

#LeftColumn {
    float:left;
    width: 150px;
    height: 700px;
    text-align: center;
    border-style : solid;
    border-width : 5px;
    border-color: #000000;
}

nav {
    width: 150px;
    height: 700px;
}

nav a {
    background-color: #eeeeee; 
    color: black; 
    display: block; 
    padding: 12px; 
    text-decoration: none;
}

nav a:hover {
    background-color: #cccccc; 
}

nav a.active {
    background-color: #ba3822;
    color: white;
}

#Content {
    width: 590px;
    height: 700px;
    padding-left: 200px;
    padding-right: 100px;
    text-align: center;
    border-style : solid;
    border-width : 5px;
    border-color: #000000; 
}

.ContentTitle {
    color: #ba3822;
	font-size: 24px;
	font-weight: bold;
    width: 300px;
    margin: 0px auto;
}

img.Content{
    display:block;
    margin-left:auto;
    margin-right:auto;
    height: 100px;
    width: 100px;
}

img#Puzzle{
    display:block;
    margin-left:auto;
    margin-right:auto;
    height: 75px;
    width: 125px;
}

img#Building{
    display:block;
    margin-left:auto;
    margin-right:auto;
    height: 150px;
    width: 150px;
}

.TeamMember {
	font-size: 16px;
	font-weight: bold;
    color: #000000;
}

.Descriptor {
	font-size: 16px;
	font-weight: bold;
    color: #ba3822;
    white-space: nowrap;
}

#References a:link { 
   color: #ba3822;
}

#References a:visited {
   color: #49331a;
    
}

footer {
    margin: 0px auto;
    text-align: center;
    color: #000000;
}

/* Styling for mobile devices */
/* Height = 667px, Width = 375px */
@media only screen and (max-device-height: 667px) {

    html {
        height: 600px;
    }

    body
    {
        height: 600px;
        font-size: 10px;
    }

    #Banner {
        height: 58px;
        width: 375px;
    }
    
    img#BannerImg{
        height: 58px;
        width: 200px;
    }

    #Main {
        height: 600px;
        width: 375px;
    }

    #LeftColumn {
        width: 75px;
        height: 600px;
        border-width : 2px;
    }

    nav {
        width: 75px;
        height: 600px;
    }

    #Content {
        width: 300px;
        height: 600px;
        padding-left: 71px;
        padding-right: 0px;
        border-width : 2px;
    }

    .ContentTitle {
        font-size: 16px;
        width: 150px;
    }

    img.Content{
        height: 40px;
        width: 75px;
    }

    img#Puzzle{
        height: 40px;
        width: 65px;
    }

    img#Building{
        height: 75px;
        width: 75px;
    }

    .TeamMember {
        font-size: 12px;
    }

    .Descriptor {
        font-size: 12px;
    }
    
    input {
        font-size: 12px;
    }

}
